<plugin name='atmosphere-meteor' version='1.0.5' grailsVersion='2.1 &gt; *'>
  <author>Ken Siprell</author>
  <authorEmail>ken.siprell@gmail.com</authorEmail>
  <title>Atmosphere Meteor Plugin</title>
  <description>
This plugin incorporates the [Atmosphere Framework|https://github.com/Atmosphere/atmosphere], which includes client and server-side components for building asynchronous web applications.
</description>
  <documentation>https://github.com/kensiprell/grails-atmosphere-meteor/blob/master/README.md</documentation>
  <type>AtmosphereMeteorGrailsPlugin</type>
  <resources>
    <resource>AtmosphereMeteorBootStrap</resource>
    <resource>AtmosphereMeteorDefaultConfig</resource>
    <resource>AtmosphereMeteorPluginConfig</resource>
    <resource>AtmosphereMeteorResources</resource>
    <resource>spring.resources</resource>
    <resource>org.grails.plugins.atmosphere_meteor.AtmosphereMeteorService</resource>
  </resources>
</plugin>