<plugin name='rendering' version='1.0.0' grailsVersion='1.3.0 &gt; *'>
  <author>Grails Plugin Collective</author>
  <authorEmail>grails.plugin.collective@gmail.com</authorEmail>
  <title>Grails Rendering</title>
  <description>Render GSPs as PDFs, JPEGs, GIFs and PNGs</description>
  <documentation>http://gpc.github.com/grails-rendering</documentation>
  <type>RenderingGrailsPlugin</type>
  <resources>
    <resource>grails.plugin.rendering.RenderingService</resource>
    <resource>grails.plugin.rendering.document.XhtmlDocumentService</resource>
    <resource>grails.plugin.rendering.image.GifRenderingService</resource>
    <resource>grails.plugin.rendering.image.ImageRenderingService</resource>
    <resource>grails.plugin.rendering.image.JpegRenderingService</resource>
    <resource>grails.plugin.rendering.image.PngRenderingService</resource>
    <resource>grails.plugin.rendering.pdf.PdfRenderingService</resource>
    <resource>grails.plugin.rendering.RenderingTagLib</resource>
  </resources>
</plugin>